@import "tailwindcss";

@theme {
    --color-primary: #2563EB;
    --color-primary-dark: #1E40AF;
    --color-accent: #F97316;
    --color-white: #FFFFFF;
    --color-bg-light: #F9FAFB;
    --color-text-muted: #64748B;
    --color-black: #111827;
  
    --font-sans: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;
  }